.header-container2 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 123px;
}
.header-container {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 75%;
  padding-top: 5px;
  margin-left: -10px;
}
.level8-digital2 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-top: 4.5px;
  font: 600 30.5px Inter;
  color: #919191;
  letter-spacing: -0.05em;
}
.level8-digital-text1 {
  box-sizing: border-box;
  flex: 0 0 auto;
  margin-left: 3.25px;
  font: 500 30.5px Inter;
  color: #919191;
  letter-spacing: -0.05em;
}
.discovery-session1 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 37.75%;
  padding-right: 15px;
  padding-left: 15px;
}
.foot-text {
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;

  color: #919191;
  letter-spacing: -0.02em;
  margin-left: -12.5rem;
}
@media only screen and (max-width: 767px) {
  .header-container2{
   
    margin-left: 4rem;
    text-align: center;
  }
 
  .copyright-text{
    font-size: 12px;
    margin-top: -1rem;
    margin-left: 0.5rem;
  }
  .fot-big-name{
    font-size: 14px !important;
    margin-left: -8rem ;
    margin-top: 1rem;
  }
  .foot-text{
    font-size: 6px !important;
    margin-top: -2rem !important;
    margin-left: -6rem !important;
    width: 250px ;
  }
}
