/* .apollo-website-design1 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
 
}
.port-con{
  margin-left: 15rem !important;

}
.port-con img{
  width: 70px !important;
  height: 20px !important;
  margin-bottom: -4.5rem !important;
  margin-left: -1rem !important;
  margin-left: 0.5rem !important;
  
}
.image-container8 {
  box-sizing: border-box;
  flex: 0 0 auto;
 
}
.port-img img{
  width: 20px ;
  height: 30px;
 
}
.logo-image {
  box-sizing: border-box;
  display: block;
  width: 197px;
  max-width: initial;
  height: 53px;
}
 */
 @media only screen and (max-width: 400px){
  .cord-cpm img {
    width: 70px !important ;
    height: 30px !important;
    margin-bottom: -2rem !important;
  }
 }