.digital-level8-container {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: flex-start;
  align-self: stretch;
  justify-content: flex-end;
  
  width: 75vw;
  margin-top: 393px;
  scale: 1.2;
  margin-left: 4.4rem;
 
  
}
.flex-end-container {
  box-sizing: border-box;
  display: flex;
  width: 75vw;
  flex: 0 0 auto;
  flex-direction: row;
  margin-left: 20rem !important;
  /* margin-left: 25rem !important;
  margin-right: -14.5rem; */
  
  align-items: flex-end;
  justify-content: flex-end;
}

.large-text {
  background-color: #333333;
  font-size: 99.7px !important;
  padding-right: 30px !important;
  border: 1px black solid;
  margin-top: -1rem !important;
  margin-right: -23.5rem;
  text-align: center;
  transform: rotate(270deg);
  border: 1px rgb(211, 207, 207) solid;
  font-family: 'Poppins', sans-serif !important;

  color: #c9c7c7;
  letter-spacing: -0.05em;
  margin-left: -27.6rem;
  min-width: 575px;
  margin-bottom: 6.2px;
  font-family: 'Poppins';
  padding: 10px;
}

.large-heading1 {
  font-size: 95px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif !important;

  transform: rotate(270deg);
  border: 1px rgb(211, 207, 207) solid;
  color: #c9c7c7;
  letter-spacing: -0.05em;
  margin-left: -28.5rem;
  min-width: 600px;
  
}

@media only screen and (max-width: 450px) {
  .digital-level8-container{
    margin-bottom: 5rem !important;
  }
  .large-heading1{
    font-size: 22px !important;
    padding: 5px 5px 5px 5px  !important;
    margin-right: -6.8rem !important;
    font-family: 'Poppins', sans-serif !important;

    border: none;

  }
  .com-num{
    margin-left: -10rem !important;
    
    
  }
  .large-text{
    margin-left: -26.2rem !important;
    font-size: 25px !important;
    margin-right: -16rem !important;
    text-align: start !important;
    padding-right: 45px !important;
    margin-bottom: -0.5rem;
    font-family: 'Poppins', sans-serif !important;

  }
  .digital-level8-container{
    margin-bottom: 35rem !important;
  }
}
