.digital-level8-container {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: flex-start;
  align-self: stretch;
  justify-content: flex-end;
  width: 75vw;
  margin-top: 255px;
  scale: 1.2;
  margin-left: 4.4rem;
 
  
}
.flex-end-container {
  box-sizing: border-box;
  display: flex;
  width: 75vw;
  flex: 0 0 auto;
  flex-direction: row;
  margin-left: 20rem !important;
  /* margin-left: 25rem !important;
  margin-right: -14.5rem; */
  
  align-items: flex-end;
  justify-content: flex-end;
}

.large-text {
  background-color: #333333;
  font-size: 102.7px !important;
  padding-right: 40px !important;
  border: 1px black solid;
  margin-top: -1rem !important;
  margin-right: -23.5rem;
  text-align: center;
  transform: rotate(270deg);
  border: 1px rgb(211, 207, 207) solid;
  color: #c9c7c7;
  letter-spacing: -0.05em;
  margin-left: -29.5rem;
  min-width: 575px;
  margin-bottom: 94.2px;
  font-family: 'Poppins';
  padding: 13px;
}

.large-heading1 {
  font: 600 106px Inter;
  transform: rotate(270deg);
  border: 1px rgb(211, 207, 207) solid;
  color: #c9c7c7;
  letter-spacing: -0.05em;
  margin-left: -29.5rem;
  min-width: 600px;
  padding: 15px;
}

