.main-container1 {
  box-sizing: border-box;
  display: flex;
  width: 99vw;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding-right: 100px;
  padding-left: 100px;
  margin-top: 172px;
  background: #333333;
  position: relative;
}
