.office-contact-section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: stretch;
    justify-content: center;
    height: 540px;
    /* min-width: 641px; */

    padding: 79px 48px 82px 94px;
    background: #333333;
  }
  .address{
    display: flex;
    width: 98vw !important;
    height: 500px;
    margin-top: 6rem !important;

  }
  .Address-text{
    width: 50vw !important;
  }
  .office-divider {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 270px;
    border-top: 5px solid #ffcc00;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .office-location-container {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 2.5px;
    padding-left: 2.5px;
  }
  .max-width-378-box-sizing-border-box-font-family-inter-font-size-36-font-weight-500-letter-spacing-minus-0-02em-line-height-95-0422592163086-color-white {
    box-sizing: border-box;
    max-width: 378px;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
font-weight: 500;
    color: white;
    letter-spacing: -0.02em;
    margin-top: -2rem;
    margin-bottom: -1rem;
    
  }
  .office-location-text {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 2.5px;
    padding-left: 2.5px;
    margin-top: -8.5px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
font-weight: 400;
    color: #6e6e6e;
    letter-spacing: -0.02em;
    margin-bottom: -2rem;
  }
  .contact-info-container {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-right: 2.5px;
    padding-left: 2.5px;
    margin-top: 70px;
  }
  .email-text {
    box-sizing: border-box;
    flex: 0 0 auto;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
font-weight: 500;
    color: white;
    letter-spacing: -0.02em;
    margin-top: -0.5rem;
  }
  .svg-container {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    width: 32px;
    height: 32px;
    margin-left: 12.5px;
  }


  @media only screen and (max-width: 400px){
    .address{
      flex-direction: column;
     width: 400px !important;
     display: block;
     justify-content: start !important;
     align-items: start;
     padding: 0 !important;
    }
    .address .Address-text{
      margin: 0 !important;
      margin-left: -4rem !important;
      width: 400px !important;
      height: 300px !important;
      margin-top: -3rem !important;
      text-align: start;
    }
    .max-width-378-box-sizing-border-box-font-family-inter-font-size-36-font-weight-500-letter-spacing-minus-0-02em-line-height-95-0422592163086-color-white{
      font-size: 16px !important;
      width: 300px !important;
      margin-top: -3rem !important;
      padding: 0 !important;
      margin-left: -3rem !important;
    }
    .office-location-text{
      font-size: 12px;
      margin-bottom: -4rem !important;
      padding: 0 !important;
      margin-left: -3rem !important;
    }
    .office-contact-section{
      width: 400px !important;
      height: 340px !important;
      padding-right: 0 !important;
      margin-left: 4rem !important;
      
    }
    .email-text{
      margin-left: -3rem !important;
    }
    .office-divider{
      margin-top: -1rem !important;
      padding: 0 !important;
      margin-left: -3rem !important;
    }
    .svg-container{
      margin-top: -2rem;
      margin-left: -0.1rem !important;
      margin-left: 0.5rem !important;
      width: 1.5rem;
      height: 1.5rem !important;
      padding: 0 !important;
    }
    .Address-map{
      height: 400px !important;
      
    }
    iframe{
      width: 400px;
      height: 300px !important
      ;
      margin-bottom: -20rem !important;
    }
  }
  