.omnichannel-agency1 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  width: 75vw;
  flex-direction: column;
  align-items: stretch;
  align-self: stretch;
  justify-content: flex-start;
  padding-right: 98px;
  padding-left: 98px;
  margin-top: 339px;
  margin-left: 10rem;
  
  
}
.omnichannel-agency-container {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  align-self: center;
  justify-content: space-between;
  padding-left: 2.5px;
}
.dis-ses-con{
  margin-right: 5rem !important;
  margin-left: -12rem !important;
}
.dis-line{
  margin-left: -10rem !important;
}
.main-heading {
  box-sizing: border-box;
  flex: 0 1 auto;
  width: 15rem;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  margin-left: 5rem !important;
  margin-right: -3rem;

  color: #333333;
  letter-spacing: -0.04em;
}
.discovery-session-container {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-right: 2.5px;
  padding-left: 2.5px;
  margin-left: -9rem;
  margin-top: -1.5rem;
}
.discovery-session-heading3 {
  box-sizing: border-box;
  flex: 0 0 auto;
  font-family: 'Poppins', sans-serif !important;
  font-size: 13px;
  font-weight: 500;
  margin-left: 2rem;
  margin-right: -1rem;

  color: #333333;
  letter-spacing: -0.05000000000000001em;
}
.svg-container3 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  width: 18px;
  height: 18px;
  margin-left: 34px;
}
.golden-border {
  box-sizing: border-box;
  margin-left: 2rem;
  flex: 0 0 auto;
  width: 280px;
  margin-top: 10.5px;
  border-top: 5px solid #ffcc00;
  margin-left: -7rem;
}
@media only screen and (max-width: 400px) {
  .omnichannel-agency-container{
    flex-direction: column;
  }
  .main-heading{
    margin-left: -18.5rem !important;
    margin-right: -6rem;
    margin-bottom: 1.5rem;
    font-size: 16px !important;
  }
  .hed-equ{
    font-size: 12px !important;
    margin-bottom: -2px ;
  }
  .omnichannel-agency-container{
    margin-left: 2rem;
    margin-right: -8rem;
    margin-top: -12rem;
  }
  .discovery-session-container{
    margin-top: -23rem;
    margin-bottom: 5rem;
    margin-left: -16.5rem;
  }
  .golden-border{
    margin-top: -5rem;
    margin-bottom: 15rem;
    margin-left: -14.5rem;
  }
  .dis-ses-con{
    margin-top: 2rem;
    margin-top: -20rem;
    margin-left: -16rem !important;
    
  }
  .dis-line{
    margin-left: -14rem !important;
  }

}
