.Project-work {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    align-self: stretch;
    justify-content: flex-start;
    padding-right: 100px;
    padding-left: 100px;
    margin-top: 6rem;
  }
  .Project-work img {
    height: 400px;
  }
  .discover-work {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
  }
  .project-WorkS-container {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 30.76%;
  }
  .project-WorkS, .project-typeS {
    box-sizing: border-box;
    flex: 0 0 auto;
    font-family: 'Poppins', sans-serif;
font-size: 13px;
font-weight: 400;
    color: #b8b8b8;
    letter-spacing: -0.02em;
  }
  .apollo-WorkS-design-title {
    box-sizing: border-box;
    flex: 0 0 auto;
    margin-top: 6px;
    font-family: 'Poppins', sans-serif;
font-size: 30px;
font-weight: 600;
    color: #333333;
    letter-spacing: -0.02em;
  }
  .project-type {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 65.12%;
    padding: 15px 15px 3px;
  }
  .branding-work {
    box-sizing: border-box;
    flex: 0 0 auto;
    margin-top: 1px;
    margin-bottom: -3rem !important;
    
    font-family: 'Poppins', sans-serif;
font-size: 24px;
font-weight: 600;

    color: #333333;
    letter-spacing: -0.02em;
  }
  .project-progress-bar {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    width: 4.12%;
    padding-top: 21px;
  }
  .progress-indicator {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
font-size: 35px;
font-weight: 600;
    color: rgba(51, 51, 51, 0.4);
    text-align: right;
    letter-spacing: -0.02em;
  }
  .project-details {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    margin-top: 2px;
  }
  .project-duration-container {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 11.74%;
    padding-bottom: 106px;
  }
  .project-team-title {
    box-sizing: border-box;
    flex: 0 0 auto;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;

    color: rgba(51, 51, 51, 0.5);
    letter-spacing: -0.02em;
  }
  .project-duration {
    box-sizing: border-box;
    flex: 0 0 auto;
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
font-size: 14px;
font-weight: 500;
    color: #333333;
    letter-spacing: -0.02em;
  }
  .project-details1 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    width: 18.66%;
    padding-top: 94px;
    padding-left: 15px;
    margin-right: -10.5px;
  }
  .case-work-title {
    box-sizing: border-box;
    flex: 0 0 auto;
    font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 500;
    color: #7a7979;
    letter-spacing: -0.05em;
    margin-left: -2.5rem;
    margin-right: 2.5rem;
  }
  .image-container10 {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
  .image-work {
    box-sizing: border-box;
    display: block;
    width: 51px;
    max-width: initial;
    height: 51px;
    margin-top: -11rem;
    margin-left: 2rem;
    margin-right: -4rem;
  }
  .img-content-cb1bc4af {
    content: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%271769.5575%201402.7075%2050.9450%2050.9450%27%20x%3D%270%27%20y%3D%270%27%20fill%3D%27none%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20id%3D%27Subtract_4%27%20fill-rule%3D%27evenodd%27%20clip-rule%3D%27evenodd%27%20d%3D%27M1777.37%201445.84C1787.12%201455.59%201802.93%201455.59%201812.69%201445.84C1822.44%201436.08%201822.44%201420.27%201812.69%201410.52C1802.93%201400.77%201787.12%201400.77%201777.37%201410.52C1767.62%201420.27%201767.62%201436.08%201777.37%201445.84ZM1800.13%201428.45H1784.05V1426.25L1800.13%201426.25L1794.3%201420.41L1795.86%201418.85L1804.36%201427.35L1795.86%201435.85L1794.3%201434.29L1800.13%201428.45Z%27%20fill%3D%27%236E6E6E%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%2F%3E%3C%2Fsvg%3E");
  }
  
  
  