.project-card {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  width: 150vh;

  margin-left: 7rem !important;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
}
@media only screen and (max-width: 767px) {
  .project-card{
    flex-direction: column;
    /* margin-left: -35rem !important; */
    margin-top: -3.5rem;
    margin-right: ;
    margin-left: -5px !important;
    margin-left: 80px !important;
    /* margin-right: 30rem !important; */
    width: 400px !important;
  }
}

