.flex-container {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 86.98%;
}
.max-width-609px-flex-grow-0-flex-shrink-0-flex-basis-auto-box-sizing-border-box-font-family-inter-font-size-100px-font-weight-500-letter-spacing-minus-0-03em-line-height-95-0422592163086-color-white {
  box-sizing: border-box;
  flex: 0 0 auto;
  max-width: 609px;
  font-family: 'Poppins', sans-serif !important;
  font-size: 65px !important;

  
  color: white;
  letter-spacing: -0.03em;
}
.heading-text {
  box-sizing: border-box;
  flex: 0 0 auto;
  max-width: 609px;
  margin-top: -162px;
  font: 500 100px/95.0422592163086% Inter;
  color: #333333;
  letter-spacing: -0.03em;
}
