.flex-container2 {
  box-sizing: border-box;
  width: 40vh;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.featured-case-study {
  box-sizing: border-box;
  flex: 0 0 auto;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif !important;
  margin-bottom: -0.2rem;

  
  color: #b8b8b8;
  letter-spacing: -0.02em;
}
.featured-case-study3 {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;

  flex: 0 0 auto;
  max-width: 359px;
  margin-top: 18px;
  margin-bottom: -.5rem;
  font-size: 36px;
  font-weight: 500;
  color: #333333;
  letter-spacing: -0.02em;
}
@media only screen and (max-width: 767px) {
  .featured-case-study{
    font-size: 10px;
    margin-top: -0.5rem;
  }
  .featured-case-study3{
    font-size: 15px;
    width: 300px;
  }
}

