

.imge img{
  width: 420px;
  height: 1120px !important;
  margin-left: 13rem;
}
@media only screen and (max-width: 767px){
  .imge img{
    margin-left: -12rem !important;
    width: 100px;
    height: 250px !important;
    margin-top: 0rem;
  }
}
