

.imge img{
  width: 400px;
  height: 1120px !important;
  margin-left: 6.5rem;
}
@media only screen and (max-width: 400px){
  .imge img{
    margin-left: -16rem !important;
    width: 80px;
    height: 180px !important;
    margin-top: 0rem;
  }
}
